@import "compass/css3";
@import "compass/css3/selection";
@import "reset.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "slick";
@import "slick-theme";
//@import "slick.scss";
//@import "slick-theme.scss";
$yellow: #ffd800;
$blue: #00c5dc;
$darkgrey: #4a4949;
$grey: #bcbcbc;
$red: #ff0000;
@import "modals.scss";
body {
  overflow-x: hidden;
}

.wrapper {
  @extend %wrapper;
}

.inner {
  @extend %inner;
}

.scr-i__wrapper {
  //height: 550px;
  background: url('../img/bg-1.jpg') 50% 0 no-repeat;
  background-size: cover;
}

.header {
  height: 100px;
  text-align: center;
  padding-top: 15px;
  &__logo {
    float: left;
    @include ops(14px);
    color: #fff;
  }
  &__title{
    float: left;
    text-transform: uppercase;
    @include geoMedium(16px);
    line-height: 17px;
    color: #fff;
    margin: 10px 0 0 185px;
  }
  &__link {
    text-decoration: none;
    color: #fff;
    @include afb(23px);
    line-height: 25px;
    &:hover {
      text-decoration: underline;
    }
  }
  &__phone {
    float: right;
    text-align: left;
    color: #fff;
    width: 170px;
    @include ops(12px);
    line-height: 17px;
  }
  &__buttonbox {
    float: right;
    text-align: center;
    color: #fff;
    @include ops(14px);
    &__button {
      width: 188px;
      border: 1px solid #fff;
      border-radius: 5px;
      margin: 5px auto 0;
      height: 35px;
      color: #fff;
      @include ops(15px);
      line-height: 35px;
      z-index: 1;
      text-align: center;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      @include transition(all .2s ease-out);
      @include selection(transparent, #e1362f);
      &:after {
        content: "";
        display: block;
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        background: $blue;
        top: -100%;
        left: 0;
        @include transition(top .2s ease-out);
      }
      &:hover {
        color: #fff;
        @include selection(transparent, #fff);
        &:after {
          top: 0;
        }
      }
      &:active {
        &:after {
          @include box-shadow(0 0 15px 0 darken(#e1362f, 20%) inset);
        }
      }
    }
  }
}

.scr-i {
  position: relative;
  height: inherit;
  text-align: center;
  &__image {
    position: absolute;
    top: 50px;
    left: -122px;
  }
  &__title {
    display: block;
    @include geoBlack(45px);
    color: #fff;
    line-height: 50px;
    margin-top: 45px;
    margin-bottom: 17px;
    text-shadow: 1px 1px 15px #000;
    span{
      color: $yellow;
    }
  }
  &__sale{
    float: left;
    margin: 24px 20px 0 0;
    width: 630px;
  }
  &__subtitle {
    padding: 5px 12px;
    background: $blue;
    @include geoMedium(21px);
    color: #fff;

  }
  &__sticker {
    display: block;
    padding: 2px 2px 3px;
    background: $yellow;
    @include geo(20px);
    color: #fff;
    width: 90px;
    position: relative;
    margin: 20px 200px 0 auto;
    .svg-triangle {
      margin: 0 auto;
      position: absolute;
      top: -16px;
      left: 15px;
      width: 16px;
      height: 16px;
      @include transform(rotate(-180deg))
    }
    .svg-triangle polygon {
      fill: $yellow;
    }
  }
  &__form-wrapper {
    //float: left;//for sale
    width: 320px;
    padding-bottom: 35px;
    margin: 75px auto 0;
    z-index: 1;
    opacity: .9999;
    height: 288px;
  }
  &__form-content {
    width:100%;
    background: rgba(#000, .5);
    float: left;
  }
  &__form-title {
    display: block;
    @include geo(20px);
    color: $blue;
    text-align: center;
    padding: 15px 20px 0;
    margin-bottom:5px;
    line-height: 35px;
  }
  &__form-subtitle {
    display: block;
    color: #fff;
    @include rain(21px);
    text-align: center;
    line-height: 25px;
  }
  &__input-wrapper {
    margin: 20px 35px;
    position: relative;
    label.error {
      position: absolute;
      bottom: -14px;
      font-size: 12px;
      left: 18px;
      color: $red;
    }
    &--wide {
      @extend .scr-i__input-wrapper;
    }
  }
  &__input {
    display: block;
    width: 100%;
    @include rain(21px);
    color: #000;
    text-align: center;
    height: 40px;
    line-height: 38px;
    border: 0px solid rgba($blue, .5);
    @include transition(all .2s ease-out);
    @include input-placeholder {
      color: rgba(#000, .5);
    }
    &:focus {
      @include box-shadow(0 0 4px rgba(#000, .4));
    }
    &::-webkit-input-placeholder {
      color: $darkgrey;
    }
    &::-moz-placeholder {
      color: $darkgrey;
    }
    /* Firefox 19+ */
    &:-moz-placeholder {
      color: $darkgrey;
    }
    /* Firefox 18- */
    &:-ms-input-placeholder {
      color: $darkgrey;
    }
  }
  &__button {
    display: block;
    width: 100%;
    height: 40px;
    @include geo(21px);
    background: transparent;
    border: 1px solid $yellow;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    @include transition(color .2s ease-out);
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: $yellow;
      border-bottom: 2px solid $yellow;
      top: 0;
      left: 0;
      @include transition(all .2s ease-out);
    }
    &:before {
      content: attr(data-content);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 2;
      top: 0;
      left: 0;
      line-height: 38px;
    }
    &:hover {
      color: $yellow;
      &:after {
        top: 100%;
      }
    }
    &:active {
      @include box-shadow(0 0 10px 0 rgba(darken($red, 10%), .8) inset);
    }
  }
  select {
    @include rain(21px);
    width: 100%;
    height: 40px;
    padding: 0px 12px;
    text-align: center;
    color: $darkgrey;
    -webkit-appearance: none;
    background-image: url('../img/arrow1.png');
    background-position: 95% center;
    background-repeat: no-repeat;
    line-height: 1em;
    text-indent : 22px;
    /* for FF */
    -moz-appearance: none;
    //text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none !important;
    option{
      text-align: center;
    }
  }
  select::-ms-expand {
    display: none;
  }
  &__scroll-to {
    display: block;
    margin: 40px auto 20px;
    width: 38px;
    position: relative;
    cursor: pointer;
    webkit-animation: arrow 0.8s infinite ease;
    -moz-animation: arrow 0.8s infinite ease;
    -o-animation: arrow 0.8s infinite ease;
    animation: arrow 0.8s infinite ease;
  }
}
@-webkit-keyframes arrow {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 5px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@-moz-keyframes arrow {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 5px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@-o-keyframes arrow {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 5px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@-ms-keyframes arrow {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 5px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@keyframes arrow {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 5px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
.scr-iii {
  &__wrapper {
    //height: 525px;
  }
  &__inner {
    height: inherit;
  }
  &__title {
    display: block;
    padding-top: 25px;
    @include vert(40px);
    text-transform: uppercase;
    text-align: center;
    color: $darkgrey;
  }
}

.tabs {
  position: relative;
  margin:40px 55px;
  .guarantee{
    position: absolute;
    left: -100px;
    top:60px;
  }
}

.tabs-nav {
  width: 100%;
  margin: 0 auto;
  @include clearfix;
  z-index: 1;
  background: #fff;
  &:before {
    width: 100%;
    height: 1px;
    background: $grey;
    margin-bottom: 8px;
    display: block;
    content: '';
  }
  &__item {
    float: left;
    width: 17.6%;
    height: 40px;
    margin: 0 1%;
    @include rain(32px);
    background: #fff;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    @include transition(color .1s ease-out);
    text-align: center;
    line-height: 40px;
    color: $darkgrey;
    z-index: 2;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: $blue;
      bottom: -100%;
      left: 0;
      opacity: 0.99;
      z-index: -1;
      @include transition(all .1s ease-out);
    }
    &:hover:after {
      bottom: -93%;
      background: rgba($blue,.5);
    }
    &:active:after {
      bottom: 0;
    }
  }
  &__item.active {
    &:after {
      bottom: 0;
    }
    color: #fff;
  }
}

.tabs-content {
  position: relative;
  width: 100%;
  &__item {
    @include clearfix;
    display: none;
    &.active {
      display: block;
    }
  }
  &__colum {
    width: 40%;
    float: left;
    overflow: hidden;
    .box_player {
      width:335px;
      overflow: hidden;
      .player3d {
        width: 500px;
        height:375px;
        margin-left: -90px;
        display: block;
        margin-top: -30px;
        margin-bottom: -20px;
      }
    }
    .power {
      @include geo(20px);
      color: $blue;
      text-align: center;
    }
    .look_incision {
      @include geo(20px);
      color: $darkgrey;
      margin-top: 5px;
      text-align: center;
      text-decoration: underline;
      cursor: pointer;
      display: block;
    }
    .button {
      @extend .scr-i__button;
      &:after{
        background: red;
        border-color: red;
      }
      font-size: 18px;
      width: 220px;
      margin: 10px auto;
      height: 37px;
      border-color: red;
      color: #fff;
      &:hover {
        color: $darkgrey;
      }
    }
  }
  &__colum--2 {
    width: 59%;
    float: left;
    .specifications {
      .line{
        border-bottom: 1px solid $grey;
        @include glob(18px);
        width: 90%;
        .declaration{
          font-size:24px;
          color: $blue;
          float: left;
        }
        .specification-button{
          text-decoration: underline;
          font-size:18px;
          margin-left: -80px;
          width: auto !important;
          cursor: pointer;
          float: left;
          margin-top: 10px;
        }
        span{
          width: 250px;
          margin-top:9px;
          display: inline-block;
        }
        span:last-child{
          width: 100px;
        }
      }
      .plate{
        @include geo(17px);
        color: $blue;
        margin: 10px 0;
      }
    }
    .salebox {
      width: 100%;
      border: 2px solid #ff6b6b;
      border-bottom:none;
      padding: 10px 10px 0;
      .titleform {
        color: $red;
        @include rain(34px);
        margin: -70px 20px 0 0;
        font-weight: bold;
        letter-spacing: 1px;
        float: right;
      }
      .lastprice {
        @include rain(26px);
        color: $grey;
        text-decoration: line-through;
        font-weight: bold;
      }
      .newprice {
        @include rain(39px);
        color: red;
        font-weight: bold;
      }
      .counttimer {
        @include glob(16px);
        margin-top:3px;
        margin-bottom: -20px;
        text-align: center;
      }
      [id^=timer]{
        @include scale(0.5);
        //margin-left: -117px;
      }
      .button {
        @extend .scr-i__button;
        display: none;
        &:before{
          line-height: 49px;
        }
        font-size: 24px;
        width: 50%;
        height: 49px;
        float: right;
        margin-top: -75px;
        &:hover {
          color: $darkgrey;
        }
      }
    }

  }
  &__form-wrapper{
    width: 100%;
    border: 2px solid #ff6b6b;
    border-top:none;
    padding: 10px;
    position: relative;
    .ask{
      @include rain(24px);
      text-align: center;
      color: $darkgrey;
      line-height: 35px;
      margin-top:-10px;
      //display: none;
    }
    label.error {
      position: absolute;
      bottom: 2px;
      font-size: 12px;
      left: 18px;
      color: $red;
    }
    &--wide {
      @extend .scr-i__input-wrapper;
    }
  }
  &__input-wrapper{
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }
  &__input{
    @extend .scr-i__input;
    box-shadow: 0 0 5px inset;
  }
  &__button{
    @extend .scr-i__button;
  }
}
.tab {
  position: relative;
  min-height: 450px;
  @include clearfix;
}

//.owl-img.owl-carousel {
//  .lazyOwl {
//    width: 100%;
//  }
//}

//.owl-img-preview {
//  width: 80% !important;
//  margin: -140px auto 100px auto;
//  img {
//    width: 100px;
//    height: 100px;
//    border: 9px solid rgba($blue, .7);
//    margin: 0 auto;
//    @include border-radius(50%);
//    overflow: hidden;
//    cursor: pointer;
//  }
//  p {
//    display: block;
//    text-align: center;
//    @include ab(14px);
//    color: #fff;
//    padding-bottom: 5px;
//  }
//  .prev {
//    text-align: center;
//  }
//}
//
//.owl-controls .owl-page, .owl-controls .owl-buttons div {
//  background: url("../img/arrow.png") no-repeat;
//  width: 30px;
//  height: 60px;
//  position: absolute;
//  bottom: 60px;
//  z-index: 5;
//  left: 60px;
//}
//
//.owl-next {
//  right: 60px;
//  left: auto !important;
//  @include transform(rotate(-180deg));
//}
//
//.scr-vi {
//  &__wrapper {
//    background: url("../img/bg-3.jpg") no-repeat center;
//    background-size: cover;
//  }
//  &__inner {
//    padding: 80px 10px;
//    position: relative;
//  }
//  &__fiches {
//    text-align: right;
//    @include geo(25px);
//    color: #fff;
//    margin: 35px auto;
//  }
//  &__playbutton {
//    width: 260px;
//    position: absolute;
//    top: 220px;
//    left: 100px;
//    color: #fff;
//    cursor: pointer;
//    text-align: center;
//    @include transition(all .1s ease-out);
//    @include geo(29px);
//    &:hover {
//      @include scale(1.02);
//    }
//    img {
//      margin: 0 auto;
//    }
//  }
//}


.scr-sale{
  &__inner{
    position: relative;
  }
  &__box{
    border: 2px solid #fd2828;
    margin: 50px 0;
    text-align: center;
    height: 300px;
    background: url("../img/sale1.png") no-repeat center bottom;
    background-size: contain;
    .button {
      @extend .scr-i__button;
      font-size: 18px;
      width: 220px;
      position: absolute;
      bottom: 60px;
      left:50%;
      margin-left: -110px;
      height: 37px;
      &:hover {
        color: $darkgrey;
      }
    }
  }
  &__title{
    color: #fd2828;
    @include vert(40px);
    text-transform: uppercase;
    margin-left:-70px;
    position: absolute;
    top:-15px;
    left: 50%;
    background: #fff;
  }

}

.scr-ix {
  &__wrapper {
    background: url("../img/bg4.jpg") no-repeat center;
    background-size: cover;
  }
  &__inner {
    position: relative;
    font-size: 0;
    padding-bottom: 45px;
  }
  &__title{
    display: block;
    padding-top: 40px;
    @include vert(46px);
    text-transform: uppercase;
    text-align: center;
    color: $darkgrey;
    padding-bottom: 0px;
  }
  &__col {
    width: 50%;
    display: inline-block;
    vertical-align: top;

    &--fiches{
      @include rain(46px);
      text-transform: uppercase;
      color: $blue;
      margin-top: 40px;
    }
    &--descr{
      @include glob(20px);
      color: $darkgrey;
    }
    &2{
      @extend .scr-ix__col;
      text-align: right;
      &--fiches{
        @extend .scr-ix__col--fiches;
        margin-top:55px;
      }
      &--descr{
        @extend .scr-ix__col--descr;
      }
    }
  }
}


.scr-egg{
  &__wrapper{
    text-align: center;
    padding: 75px 0;
  }
  &__item{
    display: inline-block;
    vertical-align: top;
    width: 23%;
    &--img{
      margin: 0 auto;
      content: '';
      border: 2px solid $blue;
      border-radius: 3px;
      width: 133px;
      height: 133px;
      margin-bottom: 20px;
      &:after{
        display: block;
        content: '';
      }
    }

    &--text{
      @include rain(28px);
    }
  }
  &__item:nth-child(1) .scr-egg__item--img:after{
    background: url('../img/sprite1.png') no-repeat 0 -8px;
    width: 107px;
    height: 61px;
    margin: 38px auto;
  }
  &__item:nth-child(2) .scr-egg__item--img:after{
    background: url('../img/sprite1.png') no-repeat -115px -1px;
    width: 78px;
    height: 78px;
    margin: 26px auto;
  }
  &__item:nth-child(3) .scr-egg__item--img:after{
    background: url('../img/sprite1.png') no-repeat -202px 0;
    width: 75px;
    height: 75px;
    margin: 24px auto;
  }
  &__item:nth-child(4) .scr-egg__item--img:after{
    background: url('../img/sprite1.png') no-repeat -288px -15px;
    width: 93px;
    height: 47px;
    margin: 42px auto;
  }
}

.scr-production {
  &__wrapper{
    padding: 70px 0;
    text-align: center;
    background: url("../img/bg-appa.jpg") no-repeat center;
    background-size: cover;
  }
  &__title {
    display: block;
    @include vert(46px);
    text-transform: uppercase;
    color: $darkgrey;
    margin-bottom: 40px;
  }
  &--slider{
    .slick-slide{
      img{
        margin: 40px auto;
        width: 100%;
        @include transition-duration(.35s);
      }
    }
    .slick-center{
      img{
        @include scale(1.3)
      }
    }
  }
}

.scr-deliv {
  &__wrapper{
    padding: 70px 0;
    text-align: center;
  }
  &__title {
     display: block;
     @include vert(46px);
     text-transform: uppercase;
     color: $darkgrey;
   }
  &__subtitle {
    display: block;
    padding-top: 10px;
    padding-bottom: 30px;
    @include geo(20px);
    color: $blue;
  }
  &__map{
    margin: 0 auto;
  }
}

.scr-fake{
  &__wrapper{
    padding: 70px 0;
    text-align: center;
    background: #ececec;
  }
  &__title {
    display: block;
    padding-bottom: 40px;
    @include vert(37px);
    text-transform: uppercase;
  }
  &__descr {
    display: block;
    padding-bottom: 30px;
    @include geo(14px);
  }
  &__subtitle {
    display: block;
    @include geo(20px);
    background: $blue;
    color: #fff;
    padding: 7px 0;
    width: 585px;
    margin: 0 auto;
  }
}


.scr-diller {
  &__wrapper{
    background: url("../img/bg-sklad.jpg") no-repeat center;
    background-size: cover;
  }
  &__title {
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    @include vert(46px);
    text-transform: uppercase;
    text-align: center;
    color: $darkgrey;
  }
  &__form-wrapper {
    background: rgba(#000,0.45);
    width: 360px;
    margin: 0 auto 120px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &__input-wrapper {
    @extend .scr-i__input-wrapper;
    label.error {
      position: absolute;
      bottom: -14px;
      font-size: 12px;
      left: 18px;
      color: $red;
    }
    &--wide {
      @extend .scr-i__input-wrapper;
    }
  }
  &__input {
    @extend .scr-i__input;
    text-align: center;
    border: 1px solid $darkgrey;
  }
  &__button {
    @extend .scr-i__button;
    &:hover {
      color: $yellow;
    }
  }
  &__descr {
    @extend .scr-i__input-wrapper;
    @include glob(20px);
    text-align: center;
    &:before {
      width: 200px;
      height: 1px;
      background: $yellow;
      content: '';
      margin: -3px auto 12px;
      display: block;
    }
  }
}

.scr-reviews {
  &__wrapper{
    padding: 70px 0;
    background: #ececec;
  }
  &__review-image {
    width: 360px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    img{
      width: 100%;
      cursor: pointer;
    }
  }
  &__review-box {
    width: 500px;
    content: '';
    display: inline-block;
    vertical-align: top;
    padding-left:40px;
    &--name {
      color: $blue;
      @include geo(20px);
      margin-top: 50px;
    }
    &--place {
      margin-top: 10px;
      @include glob(16px);
    }
    &--text {
      margin-top: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      @include glob(16px);
      background: url("../img/koma.png") no-repeat bottom right, url("../img/koma1.png") no-repeat top left;
    }
  }
}

.scr-boxes{
  &__wrapper{
    height: 812px;
    text-align: center;
  }
  &__box{
    display: inline-block;
    vertical-align: top;
    margin: 7px;
    width: 460px;
    height: 358px;
    background: url("../img/ch1.jpg") no-repeat center;
    position: relative;
    &--text{
      position: absolute;
      text-align: left;
      bottom:0;
      left:0;
      width: 100%;
      height: 180px;
      background: rgba(#000,.45);
      color: #fff;
      padding: 25px 50px;
      @include geo(30px);
      @include transition-duration(.35s);
      text-transform: uppercase;
    }
  }
  &__box:hover{
    .scr-boxes__box--text{
      background: rgba(#000,.7);
      color: $blue;
    }
  }
  &__box:nth-child(2){
    background: url("../img/ch2.jpg") no-repeat center;
  }
  &__box:nth-child(3){
    background: url("../img/ch3.jpg") no-repeat center;
  }
  &__box:nth-child(4){
    background: url("../img/ch4.jpg") no-repeat center;
  }
}


.scr_video{
  background: url("../img/bg-kotell.jpg") no-repeat center;
  background-size: cover;
  padding: 225px 0;
  text-align: center;
  &__box{
    cursor: pointer;
    width: 240px;
    margin: 0 auto;
    svg{
      width: 125px;
    }
    svg path{
      @include transition-duration(.2s);
    }
    p{
      color: white;
      @include geo(28px);
      padding-top: 5px;
      @include transition-duration(.2s);
    }
    &:hover svg path {
       stroke: $blue;
     }
    &:hover p{
      color: $blue;
    }
  }

}

.scr-vii {
  &__wrapper{
    background: url('../img/bg11.jpg') 50% 0 no-repeat;
    background-size: cover;
  }
  &__title {
    display: block;
    padding-top: 80px;
    padding-bottom: 80px;
    @include vert(46px);
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 50px;
    text-shadow: 1px 1px 15px #000;
  }
  &__form-wrapper {
    background: #ececec;
    width: 360px;
    margin: 0 auto 60px;
    padding-bottom: 15px;
  }
  &__title-form {
    @include rain(46px);
    color: $blue;
    text-align: center;
    padding-top: 25px;
  }
  &__input-wrapper {
    @extend .scr-i__input-wrapper;
    label.error {
      position: absolute;
      bottom: -14px;
      font-size: 12px;
      left: 18px;
      color: $red;
    }
    &--wide {
      @extend .scr-i__input-wrapper;
    }
  }
  &__input {
    @extend .scr-i__input;
    text-align: center;
    border: 1px solid $darkgrey;
  }
  &__button {
    @extend .scr-i__button;
    &:hover {
      color: $darkgrey;
    }
  }
  &__descr {
    @extend .scr-i__input-wrapper;
    @include glob(20px);
    text-align: center;
    &:before {
      width: 200px;
      height: 1px;
      background: $yellow;
      content: '';
      margin: -3px auto 12px;
      display: block;
    }
  }
}

.footer {
  height: 100px;
  text-align: center;
  padding-top: 15px;
  &__logoims {
    width: 200px;
    float: left;
    &:hover svg path,
    &:hover svg tspan {
      fill: #ff4c4d;
    }
  }
  &__logo{
    margin-top: 20px;
    float: right;
    margin-right: 260px;;
  }
  &__copywrite {
    width: 100px;
    float: left;
    margin-top: 50px;
    margin-left: -20px;
    @include ops(16px);
    color: rgb(197, 198, 198);;
  }
  &__link {
    text-decoration: none;
    color: #fff;
    @include afb(24px);
    line-height: 25px;
    &:hover {
      text-decoration: underline;
    }
  }
  &__phone {
    float: right;
    text-align: left;
    color: #fff;
    width: 150px;
    @include ops(11px);
    line-height: 17px;
  }
  &__buttonbox {
    float: left;
    width: 155px;
    text-align: center;
    &__button {
      width: 188px;
      border: 1px solid #fff;
      border-radius: 5px;
      margin: 25px auto 0;
      height: 35px;
      color: #fff;
      @include ops(15px);
      line-height: 35px;
      z-index: 1;
      text-align: center;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      @include transition(all .2s ease-out);
      @include selection(transparent, #e1362f);
      &:after {
        content: "";
        display: block;
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        background: $blue;
        top: -100%;
        left: 0;
        @include transition(top .2s ease-out);
      }
      &:hover {
        color: #fff;
        @include selection(transparent, #fff);
        &:after {
          top: 0;
        }
      }
      &:active {
        &:after {
          @include box-shadow(0 0 15px 0 darken(#e1362f, 20%) inset);
        }
      }
    }
  }
}


.popup_descr{
  display: none;
  padding: 30px;
  .popup_descr_tittle{
    @include rain(30px);
    color: $blue;
  }
  table{
    color: $darkgrey;
    border-collapse: collapse;
    @include geo(14px);
    tr{
      border-bottom: 1px solid $darkgrey;
      td{
        padding: 3px;
      }
    }
    tr:nth-child(2n+1){
      background: #d5f3ff;
    }
  }
}
.fancybox-inner .popup_descr{
  display: block;
}



@import "modals.scss";
@import "ui.scss";
