//OPEN SANS FONT
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,cyrillic-ext);
/* font-family: "AgencyFBCyrillic"; */
@font-face {
  font-family: "AgencyFBCyrillic";
  src: url("../fonts/AgencyFB/AgencyFBCyrillic.eot");
  src: url("../fonts/AgencyFB/AgencyFBCyrillic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/AgencyFB/AgencyFBCyrillic.woff") format("woff"),
  url("../fonts/AgencyFB/AgencyFBCyrillic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'geometr706_bc';
  src: url('../fonts/Geometric706/Geometric706-BlackCondensed.eot');
  src: url('../fonts/Geometric706/Geometric706-BlackCondensed.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometric706/Geometric706-BlackCondensed.woff') format('woff'),
  url('../fonts/Geometric706/Geometric706-BlackCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RainTungstenMediumRegular';
  src: url('../fonts/RainTungstenMediumRegular/RainTungstenMediumRegular.eot');
  src: url('../fonts/RainTungstenMediumRegular/RainTungstenMediumRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RainTungstenMediumRegular/RainTungstenMediumRegular.woff2') format('woff2'),
  url('../fonts/RainTungstenMediumRegular/RainTungstenMediumRegular.woff') format('woff'),
  url('../fonts/RainTungstenMediumRegular/RainTungstenMediumRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* font-family: "GloberThin"; */
@font-face {
  font-family: "GloberThin";
  src: url("../fonts/GloberThin/GloberThin.eot");
  src: url("../fonts/GloberThin/GloberThin.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GloberThin/GloberThin.woff") format("woff"),
  url("../fonts/GloberThin/GloberThin.ttf") format("truetype");
  font-style: normal;
  font-weight: bold !important;
}
/* font-family: "GloberBold"; */
//@font-face {
//  font-family: "GloberBold";
//  src: url("../fonts/GloberBold/GloberBold.eot");
//  src: url("../fonts/GloberBold/GloberBold.eot?#iefix")format("embedded-opentype"),
//  url("../fonts/GloberBold/GloberBold.woff") format("woff"),
//  url("../fonts/GloberBold/GloberBold.ttf") format("truetype");
//  font-style: normal;
//  font-weight: normal;
//}
@font-face {
  font-family: 'vetrenbold';
  src: url('../fonts/VertenBold/vetren-bold_allfont.ru-webfont.eot');
  src: url('../fonts/VertenBold/vetren-bold_allfont.ru-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/VertenBold/vetren-bold_allfont.ru-webfont.woff2') format('woff2'),
  url('../fonts/VertenBold/vetren-bold_allfont.ru-webfont.woff') format('woff'),
  url('../fonts/VertenBold/vetren-bold_allfont.ru-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@mixin ops($size) {
  font-family: "Open Sans";
  font-size: $size;
  font-weight: normal;
}
@mixin afb($size) {
  font-family: "AgencyFBCyrillic";
  font-size: $size;
  font-weight: normal;
}
@mixin geo($size) {
  font-family: "geometr706_bc";
  font-size: $size;
  font-weight: normal;
}
@mixin rain($size) {
  font-family: "RainTungstenMediumRegular";
  font-size: $size;
  font-weight: normal;
}
@mixin glob($size) {
  font-family: "GloberThin";
  font-size: $size;
  font-weight: bold;
}
@mixin vert($size) {
  font-family: "vetrenbold";
  font-size: $size;
  font-weight: normal;
}





//delete
@mixin ar($size) {
  font-family: "GloberThin";
  font-size: $size;
}
@mixin ab($size) {
  font-family: "GloberThin";
  font-size: $size;
}