$screenWidth: 960px;
$wrapperPadding: 0px;
$large: 959px;
$small: 500px;
@mixin clearfix {
  &:after {
    display: table;
    content: "";
    clear: both;
  }
}
@mixin response($media) {
  @if $media == tablet {
    @media only screen and (max-width: $large) { @content; }
  }
  @else if $media == iphone {
    @media only screen and (max-width: $small) { @content; }
  }
}
%wrapper {
  width: 100%;
  @include clearfix;
}
%inner {
  width: $screenWidth;
  padding: 0 $wrapperPadding;
  margin: 0 auto;
  //border-right: 1px solid #f00;
  //border-left:  1px solid #f00;
  @include clearfix;
}
