@import "compass/css3";
@import "compass/css3/selection";
@import "reset.scss";
@import "fonts.scss";
@import "mixins.scss";
//@import "slick.scss";
//@import "slick-theme.scss";
$yellow: #ffd800;
$blue: #00c5dc;
$darkgrey: #4a4949;
$grey: #bcbcbc;
$red: #ff0000;
@import "modals.scss";
body {
  overflow-x: hidden;
}

.wrapper {
  @extend %wrapper;
}

.inner {
  @extend %inner;
}

.scr-i__wrapper {
  //height: 550px;
  background: url('../img/bg11.jpg') 50% 0 no-repeat;
  background-size: cover;
}

.header {
  height: 100px;
  text-align: center;
  padding-top: 15px;
  &__logo {
  }
  &__link {
    text-decoration: none;
    color: #fff;
    @include afb(24px);
    line-height: 25px;
    &:hover {
      text-decoration: underline;
    }
  }
  &__phone {
    float: right;
    text-align: left;
    color: #fff;
    width: 150px;
    @include ops(11px);
    line-height: 17px;
  }
  &__buttonbox {
    float: left;
    width: 155px;
    text-align: center;
    &__button {
      width: 188px;
      border: 1px solid #fff;
      border-radius: 5px;
      margin: 25px auto 0;
      height: 35px;
      color: #fff;
      @include ops(15px);
      line-height: 35px;
      z-index: 1;
      text-align: center;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      @include transition(all .2s ease-out);
      @include selection(transparent, #e1362f);
      &:after {
        content: "";
        display: block;
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        background: $blue;
        top: -100%;
        left: 0;
        @include transition(top .2s ease-out);
      }
      &:hover {
        color: #fff;
        @include selection(transparent, #fff);
        &:after {
          top: 0;
        }
      }
      &:active {
        &:after {
          @include box-shadow(0 0 15px 0 darken(#e1362f, 20%) inset);
        }
      }
    }
  }
}

.scr-i {
  position: relative;
  height: inherit;
  text-align: center;
  &__image {
    position: absolute;
    top: 50px;
    left: -122px;
  }
  &__title {
    display: block;
    @include geo(45px);
    color: #fff;
    line-height: 50px;
    margin-top: 45px;
    margin-bottom: 17px;
    text-shadow: 1px 1px 15px #000;
    span{
      color: $yellow;
    }
  }
  &__subtitle {
    padding: 5px;
    background: $blue;
    @include geo(21px);
    color: #fff;
  }
  &__sticker {
    display: block;
    padding: 2px 2px 3px;
    background: $yellow;
    @include geo(20px);
    color: #fff;
    width: 90px;
    position: relative;
    margin: 20px 200px 0 auto;
    .svg-triangle {
      margin: 0 auto;
      position: absolute;
      top: -16px;
      left: 15px;
      width: 16px;
      height: 16px;
      @include transform(rotate(-180deg))
    }
    .svg-triangle polygon {
      fill: $yellow;
    }
  }
  &__sale{
    float: left;
    margin: 24px 20px 0 0;
    width: 630px;
  }
  &__form-wrapper {
    float: left;//for sale
    width: 308px;
    padding-bottom: 35px;
    margin: 22px auto 0;
    z-index: 1;
    opacity: .9999;
    height: 288px;
  }
  &__form-content {
    background: rgba(#000, .5);
    float: left;
  }
  &__form-title {
    display: block;
    @include geo(20px);
    color: $blue;
    text-align: center;
    padding: 15px 20px 0;
    margin-bottom:5px;
    line-height: 35px;
  }
  &__form-subtitle {
    display: block;
    color: #fff;
    @include rain(21px);
    text-align: center;
    line-height: 25px;
  }
  &__input-wrapper {
    margin: 20px 35px;
    position: relative;
    label.error {
      position: absolute;
      bottom: -14px;
      font-size: 12px;
      left: 18px;
      color: $red;
    }
    &--wide {
      @extend .scr-i__input-wrapper;
    }
  }
  &__input {
    display: block;
    width: 100%;
    @include rain(21px);
    color: #000;
    text-align: center;
    height: 40px;
    line-height: 38px;
    padding: 18px 15px;
    border: 0px solid rgba($blue, .5);
    @include transition(all .2s ease-out);
    @include input-placeholder {
      color: rgba(#000, .5);
    }
    &:focus {
      @include box-shadow(0 0 4px rgba(#000, .4));
    }
    &::-webkit-input-placeholder {
      color: $darkgrey;
    }
    &::-moz-placeholder {
      color: $darkgrey;
    }
    /* Firefox 19+ */
    &:-moz-placeholder {
      color: $darkgrey;
    }
    /* Firefox 18- */
    &:-ms-input-placeholder {
      color: $darkgrey;
    }
  }
  &__button {
    display: block;
    width: 100%;
    height: 40px;
    @include geo(21px);
    background: transparent;
    border: 1px solid $yellow;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    @include transition(color .2s ease-out);
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: $yellow;
      border-bottom: 2px solid $yellow;
      top: 0;
      left: 0;
      @include transition(all .2s ease-out);
    }
    &:before {
      content: attr(data-content);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 2;
      top: 0;
      left: 0;
      line-height: 38px;
    }
    &:hover {
      color: $yellow;
      &:after {
        top: 100%;
      }
    }
    &:active {
      @include box-shadow(0 0 10px 0 rgba(darken($red, 10%), .8) inset);
    }
  }
  select {
    @include rain(21px);
    width: 100%;
    height: 40px;
    padding: 0px 12px;
    text-align: center;
    color: $darkgrey;
    -webkit-appearance: none;
    background-image: url('../img/arrow1.png');
    background-position: 95% center;
    background-repeat: no-repeat;
    line-height: 1em;
    text-indent : 22px;
    /* for FF */
    -moz-appearance: none;
    //text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none !important;
    option{
      text-align: center;
    }
  }
  select::-ms-expand {
    display: none;
  }
  &__scroll-to {
    display: block;
    margin: 40px auto 20px;
    width: 38px;
    position: relative;
    cursor: pointer;
    webkit-animation: arrow 0.8s infinite ease;
    -moz-animation: arrow 0.8s infinite ease;
    -o-animation: arrow 0.8s infinite ease;
    animation: arrow 0.8s infinite ease;
  }
}
@-webkit-keyframes arrow {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 5px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@-moz-keyframes arrow {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 5px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@-o-keyframes arrow {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 5px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@-ms-keyframes arrow {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 5px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@keyframes arrow {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 5px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
.scr-iii {
  &__wrapper {
    //height: 525px;
  }
  &__inner {
    height: inherit;
  }
  &__title {
    display: block;
    padding-top: 25px;
    @include vert(40px);
    text-transform: uppercase;
    text-align: center;
    color: $darkgrey;
  }
}

.tabs {
  position: relative;
  margin:40px 55px;
  .guarantee{
    position: absolute;
    left: -100px;
    top:60px;
  }
}

.tabs-nav {
  width: 100%;
  margin: 0 auto;
  @include clearfix;
  z-index: 1;
  background: #fff;
  &:before {
    width: 100%;
    height: 1px;
    background: $grey;
    margin-bottom: 8px;
    display: block;
    content: '';
  }
  &__item {
    display: inline-block;
    width: 17.6%;
    height: 40px;
    margin: 0 1%;
    @include rain(32px);
    color: $blue;
    background: #fff;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    @include transition(color .1s ease-out);
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: $blue;
      bottom: -100%;
      left: 0;
      @include transition(all .1s ease-out);
    }
    &:before {
      content: attr(data-content);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 2;
      top: 0;
      left: 0;
      line-height: 40px;
      color: $darkgrey;
    }
    &:hover:after {
      bottom: -93%;
      background: rgba($blue,.5);
    }
    &:active:after {
      bottom: 0;
    }
  }
  &__item.active {
    &:after {
      bottom: 0;
    }
    &:before {
      color: #fff;
    }
  }
}

.tabs-content {
  position: relative;
  width: 100%;
  &__item {
    @include clearfix;
    display: none;
    &.active {
      display: block;
    }
  }
  &__colum {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    .box_player {
      width:335px;
      overflow: hidden;
      .player3d {
        width: 500px;
        height:375px;
        margin-left: -90px;
        display: block;
        margin-top: -30px;
        margin-bottom: -20px;
      }
    }
    .power {
      @include geo(20px);
      color: $blue;
      text-align: center;
    }
    .look_incision {
      @include geo(20px);
      color: $darkgrey;
      margin-top: 5px;
      text-align: center;
      text-decoration: underline;
      cursor: pointer;
      display: block;
    }
  }
  &__colum--2 {
    width: 59%;
    display: inline-block;
    vertical-align: top;
    .specifications {
      .line{
        border-bottom: 1px solid $grey;
        @include glob(18px);
        width: 90%;
        .declaration{
          font-size:24px;
          color: $blue;
        }
        .specification-button{
          text-decoration: underline;
          font-size:18px;
          margin-left: -80px;
          width: auto !important;
          cursor: pointer;

        }
        span{
          width: 250px;
          margin-top:9px;
          display: inline-block;
        }
        span:last-child{
          width: 100px;
        }
      }
      .plate{
        @include geo(17px);
        color: $blue;
        margin: 10px 0;
      }
    }
    .salebox {
      width: 100%;
      border: 2px solid red;
      padding: 10px 10px 0;
      .titleform {
        color: $red;
        @include rain(34px);
        margin: -80px 20px 0 0;
        font-weight: bold;
        float: right;
      }
      .lastprice {
        @include rain(26px);
        color: $grey;
        text-decoration: line-through;
        font-weight: bold;
      }
      .newprice {
        @include rain(39px);
        font-weight: bold;
      }
      .sale{
        color: white;
        @include rain(36px);
        background: red;
        margin: -10px 0 0 -10px;
        padding: 12px 15px 20px;
        font-weight: bold;
        width: 94px;
        display: inline-block;
        vertical-align: top;
        letter-spacing: 1px;
      }
      .sale_descr{
        color: $red;
        @include rain(34px);
        font-weight: bold;
        display: inline-block;
        vertical-align: top;
        padding-left: 10px;
        line-height: 30px;
        letter-spacing: 0.5px;
      }
      .counttimer {
        @include glob(16px);
        padding-top: 5px;
        margin-bottom: -20px;
        display: inline-block;
        vertical-align: bottom;
      }
      .doIt{
        @include glob(16px);
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
        padding-top: 5px;
        margin-bottom: -20px;
        padding-left:76px;
      }
      [id^=timer]{
        @include scale(0.5);
        margin-left: -117px;
      }
      .button {
        @extend .scr-i__button;
        &:before{
          line-height: 49px;
        }
        font-size: 24px;
        width: 50%;
        height: 49px;
        float: right;
        margin-top: -75px;
        &:hover {
          color: $darkgrey;
        }
      }
    }
    .ask{
      @include rain(20px);
      text-align: center;
      color: $darkgrey;
      line-height: 35px;
    }
  }
  &__form-wrapper{
    width: 100%;
    border: 2px solid $grey;
    padding: 10px;
    position: relative;
    label.error {
      position: absolute;
      bottom: 2px;
      font-size: 12px;
      left: 18px;
      color: $red;
    }
    &--wide {
      @extend .scr-i__input-wrapper;
    }
  }
  &__input-wrapper{
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }
  &__input{
    @extend .scr-i__input;
  }
  &__button{
    @extend .scr-i__button;
    border: 1px solid $blue !important;
    &:after {
      background: $blue;
      border-bottom: 2px solid $blue;
    }
    &:hover {
      color: $blue;
    }
  }
}
.tab {
  position: relative;
  min-height: 450px;
  @include clearfix;
}

.owl-img.owl-carousel {
  .lazyOwl {
    width: 100%;
  }
}

.owl-img-preview {
  width: 80% !important;
  margin: -140px auto 100px auto;
  img {
    width: 100px;
    height: 100px;
    border: 9px solid rgba($blue, .7);
    margin: 0 auto;
    @include border-radius(50%);
    overflow: hidden;
    cursor: pointer;
  }
  p {
    display: block;
    text-align: center;
    @include ab(14px);
    color: #fff;
    padding-bottom: 5px;
  }
  .prev {
    text-align: center;
  }
}

.owl-controls .owl-page, .owl-controls .owl-buttons div {
  background: url("../img/arrow.png") no-repeat;
  width: 30px;
  height: 60px;
  position: absolute;
  bottom: 60px;
  z-index: 5;
  left: 60px;
}

.owl-next {
  right: 60px;
  left: auto !important;
  @include transform(rotate(-180deg));
}

.scr-vi {
  &__wrapper {
    background: url("../img/bg-3.jpg") no-repeat center;
    background-size: cover;
  }
  &__inner {
    padding: 80px 10px;
    position: relative;
  }
  &__fiches {
    text-align: right;
    @include geo(25px);
    color: #fff;
    margin: 35px auto;
  }
  &__playbutton {
    width: 260px;
    position: absolute;
    top: 220px;
    left: 100px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    @include transition(all .1s ease-out);
    @include geo(29px);
    &:hover {
      @include scale(1.02);
    }
    img {
      margin: 0 auto;
    }
  }
}


.scr-ix {
  &__wrapper {
    background: url("../img/bg4.jpg") no-repeat center;
    background-size: cover;
  }
  &__inner {
    position: relative;
    font-size: 0;
    padding-bottom: 45px;
  }
  &__title{
    @extend .scr-vii__title;
    padding-bottom: 0px !important;
  }
  &__col {
    width: 50%;
    display: inline-block;
    vertical-align: top;

    &--fiches{
      @include rain(46px);
      text-transform: uppercase;
      color: $blue;
      margin-top: 40px;
    }
    &--descr{
      @include glob(20px);
      color: $darkgrey;
    }
    &2{
      @extend .scr-ix__col;
      text-align: right;
      &--fiches{
        @extend .scr-ix__col--fiches;
      }
      &--descr{
        @extend .scr-ix__col--descr;
      }
    }
  }
}

.scr-vii {
  &__title {
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    @include vert(46px);
    text-transform: uppercase;
    text-align: center;
    color: $darkgrey;
  }
  &__form-wrapper {
    background: #ececec;
    width: 360px;
    margin: 0 auto 120px;
    padding-bottom: 15px;
  }
  &__title-form {
    @include rain(46px);
    color: $blue;
    text-align: center;
    padding-top: 25px;
  }
  &__input-wrapper {
    @extend .scr-i__input-wrapper;
    label.error {
      position: absolute;
      bottom: -14px;
      font-size: 12px;
      left: 18px;
      color: $red;
    }
    &--wide {
      @extend .scr-i__input-wrapper;
    }
  }
  &__input {
    @extend .scr-i__input;
    text-align: center;
    border: 1px solid $darkgrey;
  }
  &__button {
    @extend .scr-i__button;
    &:hover {
      color: $darkgrey;
    }
  }
  &__descr {
    @extend .scr-i__input-wrapper;
    @include glob(20px);
    text-align: center;
    &:before {
      width: 200px;
      height: 1px;
      background: $yellow;
      content: '';
      margin: -3px auto 12px;
      display: block;
    }
  }
}


.popup_descr{
  display: none;
  padding: 30px;
  .popup_descr_tittle{
    @include rain(30px);
    color: $blue;
  }
  table{
    color: $darkgrey;
    border-collapse: collapse;
    @include geo(14px);
    tr{
      border-bottom: 1px solid $darkgrey;
      td{
        padding: 3px;
      }
    }
    tr:nth-child(2n+1){
      background: #d5f3ff;
    }
  }
}
.fancybox-inner .popup_descr{
  display: block;
}



@import "modals.scss";
@import "ui.scss";
